<launch>
  <group>
    <!-- LiDAR 센서 토픽 리매핑 -->
    <node pkg="simple_follower" type="laserTracker.py" name="laserTracker" output="screen">
      <remap from="/hokuyo_base/scan" to="/scan" />
      <param name="winSize" value="2" type="int" />
      <param name="deltaDist" value="0.2" type="double" />
    </node>
    
    <!-- 로봇 제어 명령 토픽 리매핑 -->
    <node pkg="simple_follower" type="follower.py" name="follower" output="screen">
      <remap from="/cmd_vel/yolo" to="/cmd_vel" />
      <param name="switchMode" value="True" type="bool" />
      <!-- 후진 동작 개선을 위해 속도와 목표 거리 조정 -->
      <param name='maxSpeed' value='0.5' type='double' />
      <param name='targetDist' value='0.5' type='double' />
      <param name='controllButtonIndex' value='-4' type='int' />
      <rosparam ns='PID_controller' command='load' file='$(find simple_follower)/parameters/PID_param.yaml' />
    </node>
    
    <!-- 원본 simple_follower 런치 파일 포함 -->
  </group>
</launch>
